.local/bin/convertwrp
.local/bin/deanm
.local/bin/defxy
.local/bin/dekey
.local/bin/dep3d
.local/bin/depax
.local/bin/depew
.local/bin/derap
.local/bin/dertm
.local/bin/detex
.local/bin/dewrp
.local/bin/dewss
.local/bin/extractpbo
.local/bin/makepbo
.local/bin/moveobject
.local/bin/pbodeps
.local/bin/queryaddons
.local/bin/rapify
