[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = DanThomas64
	email = danstevethomas@gmail.com
	signingkey = 9A8912DADEBD0117
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager-core
	credentialStore = secretservice
[credential "https://dev.azure.com"]
	useHttpPath = true
[safe]
	directory = /usr/share/fonts/nerd-fonts
	directory = /usr/local/ly
	directory = /home/dan/ly
