[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = DanThomas64
    email = danstevethomas@gmail.com
    signkey = EE3F4BB3CB6F8B89j
[safe]
	directory = D:/Projects/bw_wgsm
	directory = D:/Projects/bw_bot
	directory = D:/Projects/a3_training_suite
[credential]
	helper = C:/Users/seneca/AppData/Local/Programs/Git\\ Credential\\ Manager/git-credential-manager-core.exe
[core]
	autocrlf = true
